.App {
  text-align: center;
  margin: 1em;
}


.App-header {
  background-color: 
  #d7dfe6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: #000;
}

.App-header  h1 {
  font-family: 'Fredoka One';
  letter-spacing: 1px;
}

.App-header  h5 {
  font-family: 'Poppins';
  font-size: 18px;
}

.App-header  p {
  font-family: 'Poppins';
  font-size: 15px;
}

.App-header img {
  width: 300px;
  height: auto;
}


